body{
  background-color: #344f69;
}
.login #backtoblog a, .login #nav a {
  text-decoration: none;
  color: #fff;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
  color: #ccc;
}
.login h1 a {
  background: #fff url('../img/icon.png') no-repeat center/75px 61px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login .button-primary {
    float: right;
}
.wp-core-ui .button-primary {
  background: #73ade9;
  border-color: #73ade9;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  text-transform: uppercase;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background: #344f69;
  border-color: #344f69;
  color: #fff;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #73ade9;
  -webkit-box-shadow: 0 0 2px #73ade9;
  box-shadow: 0 0 2px #73ade9;
}
input[type=checkbox]:checked:before {
  color: #73ade9;
}