.site-content{
  margin-bottom: 300px;
}

.site-copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4rem 0;
  background-color: #eeeeee;
  height: 300px;
  width: 100%;
  z-index: -1;
}
.site-copyright .site-copyright-inner{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
}
.site-copyright .site-copyright-inner .logo-container{
  width: 300px;
  max-width: 100%;
  margin: 0 auto 1rem;
}
.site-copyright .site-copyright-inner .logo-container .logo{
  background: url('../img/logo.png') no-repeat center/300px 78px;
  height: 78px;
  width: 300px;
}
.site-copyright a:hover,
.site-copyright a:focus{
  color: #e34b2a;
}

#wp-admin-bar-wp-logo{
  display: none !important;
}