body{
  background-color: #fff;
}
.login #backtoblog a, .login #nav a {
  text-decoration: none;
  color: #383839;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
  color: #e34b2a;
}
.login h1 a {
  background: url('../img/logo.png') no-repeat center/300px 78px;
  width: 300px;
  height: 78px;
}

.login form{
  background-color: #383839;
}
.login label {
    color: #fff;
}
.login .button-primary {
    float: right;
}
.wp-core-ui .button-primary {
  background: #e34b2a;
  border-color: #e34b2a;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  text-transform: uppercase;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background: #e34b2a;
  border-color: #e34b2a;
  color: #fff;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #e34b2a;
  -webkit-box-shadow: 0 0 2px #e34b2a;
  box-shadow: 0 0 2px #e34b2a;
}
input[type=checkbox]:checked:before {
  color: #e34b2a;
}