/* TABLE */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid;
}

table tbody tr:last-child {
  border-bottom: 1px solid;
}

table tbody tr:nth-child(odd) {
  background-color: rgba(0,0,0,.1);
}

table tbody tr th,
table tbody tr td {
  border-right: 1px solid;
}

table tbody tr th:first-child,
table tbody tr td:first-child {
  border-left: 1px solid;
}

table tbody + tbody {
  border-top: 2px solid;
}

table table {
  background-color: #fff;
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}

/* FORMS */
.form-control{
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-color: transparent;
  color: inherit;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid;
  border-radius: 2px;
}

.form-control::-ms-expand{
  background-color: transparent;
  border: 0;
}

.form-control:focus{
  outline: none;
}

.form-control::-webkit-input-placeholder{
  color: inherit;
  opacity: .5;
}

.form-control::-moz-placeholder{
  color: inherit;
  opacity: .5;
}

.form-control:-ms-input-placeholder{
  color: inherit;
  opacity: .5;
}

.form-control::placeholder{
  color: inherit;
  opacity: .5;
}

.form-control:focus::-webkit-input-placeholder{
  opacity: 0;
}

.form-control:focus::-moz-placeholder{
  opacity: 0;
}

.form-control:focus:-ms-input-placeholder{
  opacity: 0;
}

.form-control:focus::placeholder{
  opacity: 0;
}

.form-control:disabled, .form-control[readonly]{
  background-color: #eceeef;
  opacity: 1;
}

.form-control:disabled{
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]){
  height: 2.5rem;
}

select.form-control:focus::-ms-value{
  color: #55595c;
  background-color: #fff;
}

.form-group,
.form-line {
  margin-bottom: 1rem;
}

.form-label{
  font-weight: bold;
}

.form-checkbox-item{
  display: block;
}

/* BUTTONS */
.btn,
.button {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: inherit;
  border: 1px solid;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: auto;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus,
.button:focus, .button.focus, .button:active:focus, .button:active.focus, .button.active:focus, .button.active.focus {
  outline: none;
  outline-offset: 0;
}

.btn:focus, .btn:hover,
.button:focus, .button:hover {
  text-decoration: none;
}

.btn.focus,
.button.focus {
  text-decoration: none;
}

.btn:active, .btn.active,
.button:active, .button.active {
  background-image: none;
  outline: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* SCREEN READ ONLY */
.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* TEXT STYLING */
.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-xs-left {
  text-align: left !important;
}

.text-xs-right {
  text-align: right !important;
}

.text-xs-center {
  text-align: center !important;
}

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* Alignments */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 0.5rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 0.5rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.sticky{
  display: block;
}

.bypostauthor{
  display: block;
}

/* EMBED CONTAINER */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* CONTACT FORM 7 */
div.wpcf7 {
  margin: 0;
  padding: 0;
  text-align: left;
}

div.wpcf7 br{
  display: none;
}

div.wpcf7-response-output {
  margin: 2rem 0 1rem;
  padding: .5rem 1rem;
}

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
  border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
  border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
  position: relative;
}

span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #ff0000;
  background: #fff;
  padding: 0.5rem 1rem;
}

span.wpcf7-list-item {
  margin: 0;
}

.wpcf7-display-none {
  display: none;
}

div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #fff;
}

div.wpcf7 div.ajax-error {
  /*display: none;*/
}

div.wpcf7 .placeheld {
  color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
  margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
  cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
  cursor: default;
}

div.wpcf7 input[type="checkbox"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

/* GALLERY */
.gallery{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.gallery-item{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item{
  width: 50%;
}

@media (min-width: 768px) {
  .gallery-columns-3 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-9 .gallery-item{
    width: 33.333%;
  }
}

@media (min-width: 992px) {
  .gallery-columns-4 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-8 .gallery-item{
    width: 25%;
  }
  .gallery-columns-5 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-9 .gallery-item{
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .gallery-columns-6 .gallery-item{
    width: 16.666%;
  }
  .gallery-columns-7 .gallery-item{
    width: 14.285%;
  }
  .gallery-columns-8 .gallery-item{
    width: 12.5%;
  }
  .gallery-columns-9 .gallery-item{
    width: 11.111%;
  }
}

/* SECTIONS */
section{
  padding: 4rem 0;
  background: no-repeat center/cover;
  position: relative;
}
section .section-image{
  background: no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
section .section-image + [class*='container']{
  position: relative;
  z-index: 1;
}
section.has-sidebar{
  padding: 0;
}
section.has-sidebar main{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 992px) {
  section.has-sidebar-right main{
    padding-right: 2rem;
  }
  section.has-sidebar-left main{
    padding-left: 2rem;
  }
}

/* CARD */
.card{
  display: block;
  margin: 2rem 0 1rem;
  border: 1px solid rgba(0,0,0,0.1);
}
.card:first-child{
  margin-top: 0;
}
.card .card-title{
  margin: 0;
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,0.1);
  font-size: 1.5rem;
  font-weight: bold;
}
.card .card-content{
  margin: 0;
  padding: 1rem;
}
.card .card-content > *:last-child{
  margin-bottom: 0;
}

/* TABS */

.tabs-wrapper{
  margin-bottom:1rem
}
.tabs-wrapper ul.tabs{
  margin:0;
  padding:0 !important;
  list-style: none !important;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.tabs-wrapper ul.tabs li{
  display: inline-block;
  margin-bottom: -1px
}
.tabs-wrapper ul.tabs li + li{
  margin-left: -1px
}
.tabs-wrapper ul.tabs li a{
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  border: 1px solid;
  background-color: rgba(0,0,0,0.125);
}
.tabs-wrapper ul.tabs li a.active{
  background-color: inherit;
}
.tabs-wrapper ul.tabs li a:hover,
.tabs-wrapper ul.tabs li a:focus{
  text-decoration: none
}
.tabs-wrapper select.tabs {
  margin: 0 auto 1rem;
  max-width: 300px;
}
.tabs-wrapper .panels .panel{
  overflow: hidden;
  height:0
}
.tabs-wrapper .panels .panel:first-child{
  height:auto
}
.tabs-wrapper .panels .panel .panel-content{
  padding: 1rem;
  border: 1px solid;
}
.tabs-wrapper .panels .panel .panel-content > *:last-child{
  margin-bottom: 0
}

/* MAP */
.map iframe{
  pointer-events: none;
}

/* BACKGROUND */

.bg-scroll,
.bg-scroll .section-image{
  background-attachment: scroll !important;
}
@media (min-width: 544px) {
  .bg-fixed,
  .bg-fixed .section-image{
    background-attachment: fixed !important;
  }
}

.bg-t-l,
.bg-t-l .section-image{
  background-position: top left !important;
}
.bg-t-c,
.bg-t-c .section-image{
  background-position: top center !important;
}
.bg-t-r,
.bg-t-r .section-image{
  background-position: top right !important;
}
.bg-c-l,
.bg-c-l .section-image{
  background-position: center left !important;
}
.bg-c-c,
.bg-c-c .section-image{
  background-position: center center !important;
}
.bg-c-r,
.bg-c-r .section-image{
  background-position: center right !important;
}
.bg-b-l,
.bg-b-l .section-image{
  background-position: bottom left !important;
}
.bg-b-c,
.bg-b-c .section-image{
  background-position: bottom center !important;
}
.bg-b-r,
.bg-b-r .section-image{
  background-position: bottom right !important;
}

.bg-cover,
.bg-cover .section-image{
  background-size: cover !important;
}
.bg-contain,
.bg-contain .section-image{
  background-size: contain !important;
}
.bg-auto,
.bg-auto .section-image{
  background-size: auto !important;
}
.bg-auto-100,
.bg-auto-100 .section-image{
  background-size: auto 100% !important;
}
.bg-100-auto,
.bg-100-auto .section-image{
  background-size: 100% auto !important;
}


/* MAP */
.full-map{
  background-color: #eaeaea;
  padding: 0;
}
.full-map .container{
  max-width: 100%;
  padding: 0;
}
.full-map .embed-container{
  padding-bottom: 300px;
  margin-bottom: 0;
}
@media (min-width: 544px) {
  .full-map .embed-container{
    padding-bottom: 350px;
  }
}
@media (min-width: 768px) {
  .full-map .embed-container{
    padding-bottom: 400px;
  }
}
@media (min-width: 992px) {
  .full-map .embed-container{
    padding-bottom: 500px;
  }
}
@media (min-width: 1200px) {
  .full-map .embed-container{
    padding-bottom: 600px;
  }
}

/* VIDEO */
.youtube-video-wrapper {
    margin-bottom: 1.5rem;
}
.youtube-video {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube-video img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube-video .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 1rem rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    transition: opacity .3s ease;
}
.youtube-video .play-button:hover {
    opacity: 0.9;
}
.youtube-video .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube-video img,
.youtube-video .play-button {
    cursor: pointer;
}
.youtube-video img,
.youtube-video iframe,
.youtube-video .play-button,
.youtube-video .play-button:before {
    position: absolute;
}
.youtube-video .play-button,
.youtube-video .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube-video iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* Icons */
.dg,
svg{
  height: 1em;
  width: 1em;
  line-height: 1;
  display: inline-block;
  font-size: 1em;
  fill: currentColor;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg#digicons{
  display: none;
}