.site-content{
  margin-bottom: 300px;
}

.site-copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4rem 0;
  background-color: #eeeeee;
  height: 300px;
  width: 100%;
  z-index: -1;
}
.site-copyright .site-copyright-inner{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
}
.site-copyright .site-copyright-inner .logo-container{
  width: 75px;
  max-width: 100%;
  margin: 0 auto 1rem;
}
.site-copyright .site-copyright-inner .logo-container .logo{
  /*border-radius: 50%;*/
  background: url('../img/icon.png') no-repeat center/75px 75px;
  padding-bottom: 100%;
  /*box-shadow: 0 1px 3px rgba(0,0,0,.13);*/
}
.site-copyright .site-copyright-inner .logo-container a:active .logo{
  box-shadow: 0 0 3px rgba(0,0,0,.13);
}
.site-copyright a:hover,
.site-copyright a:focus{
  color: #10b3e7;
}

#wp-admin-bar-wp-logo{
  display: none !important;
}