body{
  background-color: #eee;
}
.login #backtoblog a, .login #nav a {
  text-decoration: none;
  color: #10b3e7;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
  color: #1385b8;
}
.login h1 a {
  background: url('../img/icon.png') no-repeat center/75px 75px;
  width: 100px;
  height: 100px;
}
.login .button-primary {
    float: right;
}
.wp-core-ui .button-primary {
  background: #10b3e7;
  border-color: #10b3e7;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  text-transform: uppercase;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background: #1385b8;
  border-color: #1385b8;
  color: #fff;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #10b3e7;
  -webkit-box-shadow: 0 0 2px #10b3e7;
  box-shadow: 0 0 2px #10b3e7;
}
input[type=checkbox]:checked:before {
  color: #10b3e7;
}