.site-content{
  margin-bottom: 232px;
}

.site-copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4rem 0;
  background-color: #eeeeee;
  height: 232px;
  width: 100%;
  z-index: -1;
}
.site-copyright .site-copyright-inner{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
}
.site-copyright .site-copyright-inner .logo-container{
  width: 48px;
  max-width: 100%;
  margin: 0 auto .5rem;
}
.site-copyright .site-copyright-inner .logo-container .logo{
  background: url('../img/icon.png') no-repeat center/48px 48px;
  padding-bottom: 100%;
}

#wp-admin-bar-wp-logo{
  display: none !important;
}